<!DOCTYPE html>
{% load static %}



{% csrf_token %}

<div id="holder">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Treatment Centers</title>
    <link rel="stylesheet" href="{% static 'projectApp/style.css' %}">
    <script src=
    "https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js">
        </script>
</head>
<body>
    <header>
        <h1>Treatment Centers</h1>
        
    </header>
    
    {% comment %} <div class="filter-bar" >
        <span class="filter-dropdown-text">Filter dataset</span> 
        <a class="filter filter-hidden">
          Region <span class="operator">=</span> North America, Asia </a><a class="filter-remove filter-hidden">&times;</a>
        </a>
    div   
<input type="checkbox" id="vehicle1" name="vehicle1" >
<label for="vehicle1"> I have a bike</label><br>
<input type="checkbox" id="check_LGBTQ"  >
<label for="vehicle1"> LGBTQ Accepting</label><br>
<input type="checkbox" id="check_insurance"  >
<label for="vehicle1"> Takes Insurance</label><br>
<input type="checkbox" id="check_spiritual" >
<label for="vehicle1"> Spiritual Practice</label><br>
<button type="Submit" name = "action" value = "Start" >Submit</button>
<button type="Submit" name = "action" value = "Submit">Submit</button>

    </div> {% endcomment %}
    <div class="filter-bar">
        <a class="filter-dropdown"><i class="fa fa-filter" aria-hidden="true"></i><i  class="fa fa-plus filter-hidden" aria-hidden="true"></i><span class="filter-dropdown-text" onclick = "openFilters()">Filter dataset</span> </a>
        <a class="filter filter-hidden">
          Region <span class="operator">=</span> North America, Asia </a><a class="filter-remove filter-hidden">&times;</a>
        </a>
        <div id = "filter-modal" class="edit-filter-modal hidden" hidden = "true"><select>
            <option>Region</option>
            <option>String</option>
            <option>Date</option>
            <option>Number</option>
            </select>
            <select>
            <option>Is</option>
            <option>Is not</option>
            <option>Is set</option>
            <option>Is empty</option>
            </select>
            
                
            <input type="checkbox" id="check_virtual" checked= "{{filter.virtual}}" >
            <label for="check_virtual"> </label> Virtual Practice<br>  

            <input type="checkbox" id="check_LGBTQ"  checked ="{{filter.lgbtq}}">
            <label for="check_LGBTQ"  id = "{{filter.lgbtq}}"> LGBTQ Accepting</label><br> 
            {% comment %} FIXME filters should be generated auto if possible or with config tables names could also be gotten from fields of the table {% endcomment %}
            <input type="checkbox" id="check_insurance"  >
            <label for="check_insurance"> Insurance</label><br>
          
            <button id = "apply" class="apply-button"  value = 'null' name = "apply" >Apply</button>
            <form method= "POST">

            <button type = "button"  name = "tester" class="text-button" >Cancel</button>
            </form>
        </div>
          <input id = "test_checkbox" type="checkbox" class = "checked">
                <span class="checkmark"></span>
                <label for id ="test_checkbox" class="container">One
                </label>
      </div>
      
      
    <!-- FIXME better ids currenly used for generating cards -->
    <div id ="cards">

    {% for center in centers%}
    <main  class="cards-container" onclick = "myFunction(this)" id = "{{center.name}}">
        <!-- Example card -->
       
            <div  class="card" >
                <h2>{{center.name}}</h2>
                
                <div class="card-content" >
                    
                    <div class="details">
                        <ul>
                            <li><a id = "link{{forloop.counter}}" href="{{center.hyperlink}}"  target="_blank">{{center.hyperlink}}</a> </li>
                            <li>
                                {%for treatment in center.treat_model.all%} 
                                    {{treatment.name}}
                                    
                                    {% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </li>
                            <li><div>{{ center.address_1 }}</div> <div hidden ="{{center.address_2}} ? UNKOWN: true"> {{ center.address_2}} </div> {{center.zipcode}} </li>
                        </ul>
                        
                    </div>
                    <div class="details">
                        <ul>
                             {%comment%} Fixme replace with loop or better display method{%endcomment%}
                            <li> Insurances: {%for Insurance in center.insurances.all%} 
                                {{Insurance.name}}
                                
                                {% if not forloop.last %}, {% endif %}
                            {% endfor %}</li>
                            <li>Beds : {{forloop.counter}}</li>
                        </ul>
                        
                    </div>
                    <div class="details" align ="right">
                        
                            <div id = "QR{{ forloop.counter }}"> 
                            </div>
                        
                        
                    </div>

                </div>
                <div id = "QR{{ forloop.counter }}"> 
                            </div>
                
                
            </div>
            <div class="sub-card" id="sub_card_{{center.name}}">
                <p> Description: {{center.description}}</p>
            </div>
        
    </main>    
     {% endfor %}
        <!-- Add more cards dynamically here -->
    </div>


    <iframe allowtransparency="true" frameBorder="0" height="260" id="mentalhealthtreatmentfinder" marginHeight="0" marginWidth="0" name="mentalhealthtreatmentfinder" scrolling="no" src=https://findtreatment.gov/locator/widget/260?lang=en title="Samhsa.gov" width="260">https://findtreatment.gov/locator/widget/260?lang=en</iframe>

    <script  type="text/javascript"> //fixme do not use scripts here in the future for fear of unintentional data acess
        console.log(filter)
        function myFunction(input) {
        document.getElementById(input.id).classList.add('open')
         //let test = document.getElementById("sub_card_"+ input.id);
         //console.log(test)
         //if (test.className = "open"){
        //    test.className = "Close"
        
         //}
        }
        

        // USE if want to apply front end filter work
        //function applyFilter(){
        //}

        function openFilters() { //fixme add event listener for clicking off of the filters
            filters = document.getElementById("filter-modal")
            cls = "hidden"
            if (filters.classList.contains(cls)){
                filters.hidden = false
                filters.classList.remove(cls)
                
            }
            else{
                filters.classList.add(cls)
                setTimeout() // Fixme use set time out to apply hiddent
            }
        }
        
        num = 0
        while (true){
            num += 1
            try {
                qNum  = "QR" + num 
                divElement = document.getElementById("QR" + num);
                if (divElement){
                    link = document.getElementById("link" + num);
                    var qrcode = new QRCode(qNum,{ // FIXME would prefer to handle the qr creation on the back end and have it already assigned
                        text: link.getAttribute("href"),
                        width:100,
                        height: 100 });
                }
                else{
                    break;
                }
            }
            catch (error){
                break;
            }

            
        }

</script>
<script src="{% static 'projectApp/Test.js' %}"></script>
</body>

</html>
</div>