<!DOCTYPE html>
{% load static %}

<div class="config-panel">
</div>
<form method= "POST">
{% csrf_token %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Treatment Centers</title>
    <link rel="stylesheet" href="{% static 'projectApp/style.css' %}">
</head>
<body>
    <header>
        <h1>Treatment Centers</h1>
        
    </header>
    <div class="filter-bar">
        <span class="filter-dropdown-text">Filter dataset</span> 
        <a class="filter filter-hidden">
          Region <span class="operator">=</span> North America, Asia </a><a class="filter-remove filter-hidden">&times;</a>
        </a>
        
<input type="checkbox" id="vehicle1" name="vehicle1" >
<label for="vehicle1"> I have a bike</label><br>
<input type="checkbox" id="check_LGBTQ"  >
<label for="vehicle1"> LGBTQ Accepting</label><br>
<input type="checkbox" id="check_insurance"  >
<label for="vehicle1"> Takes Insurance</label><br>
<input type="checkbox" id="check_spiritual" >
<label for="vehicle1"> Spiritual Practice</label><br>
<button type="submit">Submit</button>
    </div>
      
    {% for center in centers%}
    <main  class="cards-container" onclick = "myFunction(this)" id = "{{center.name}}">
        <!-- Example card -->
       
            <div  class="card" >
                <h2>{{center.name}}</h2>
                <div class="card-content" >
                    
                    <div class="details">
                        <ul>
                            <li><a href="{{center.hyperlink}}"  target="_blank">{{center.hyperlink}}</a> </li>
                            <li>{{center.treatment_model}}.</li>
                            <li>{{ center.address_1 }} <br> {{ center.address_2 }}</li>
                        </ul>
                        
                    </div>
                    <div class="details">
                        <ul>
                            <li>{{center.hyperlink}}</li>
                            <li>{{center.treatment_model}}.</li>
                            <li>{{ center.address_1 }} <br> {{ center.address_2 }}</li>
                        </ul>
                        
                    </div>

                </div>
                
            </div>
            <div class="sub-card" id="sub_card_{{center.name}}">
                <p> Here are more details about Card 2.</p>
            </div>
        
    </main>    
     {% endfor %}
        <!-- Add more cards dynamically here -->



    <iframe allowtransparency="true" frameBorder="0" height="260" id="mentalhealthtreatmentfinder" marginHeight="0" marginWidth="0" name="mentalhealthtreatmentfinder" scrolling="no" src=https://findtreatment.gov/locator/widget/260?lang=en title="Samhsa.gov" width="260">https://findtreatment.gov/locator/widget/260?lang=en</iframe>

    <script  type="text/javascript">
        function myFunction(input) {
        document.getElementById(input.id).classList.add('open')
         let test = document.getElementById("sub_card_"+ input.id);
         console.log(test)
         if (test.className = "open"){
            test.className = "Close"
        
         }
        }
</script>
</body>
</form>
</html>